* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  background: linear-gradient(
      to right,
      rgba(105, 57, 1, 0.596),
      rgba(210, 250, 252, 0.616),
      rgba(68, 0, 23, 0.774)
    ),
    url("../Images/Backgrounds/bg4.jpeg") center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 90px 45px 45px;
  background: rgba(29, 29, 29, 0.37);
  border-radius: 10px;
  color: whitesmoke;
  box-shadow: 10px 10px 10px rgba(182, 182, 182, 0.623);
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: skew(-30deg);
  background: rgba(32, 1, 90, 0.39);
  border-radius: 10px;
  pointer-events: none;
}
.form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: skew(30deg);
    background: rgba(1, 129, 129, 0.39);
    border-radius: 10px;
    pointer-events: none;
  }
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: rgba(252, 223, 207, 0.904);
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 20px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.3px solid whitesmoke;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: khaki;
  font-size: 0.9rem;
}
.checkRem {
  margin-left: 10rem;
  margin-bottom: 1rem;
}
.submit-btn {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  border: none;
  outline: none;
  color: azure;
  background: rgb(66, 40, 109);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.forgot-pwd {
  color: inherit;
}
#forgot-pwd {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: rgba(1, 150, 105, 0.87);
  opacity: 0;
  transition: 0.6s;
  border-radius: 10px;
}
#forgot-pwd:target {
  height: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
